* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Poppins', sans-serif;
}

#containerAdmin {
    height: 100vh;
    display: flex;
    background: linear-gradient(256deg,
            rgba(255, 222, 89, 1) 20%,
            rgba(254, 170, 70, 1) 53%);
}

#containerHeader{
margin: 10px;
display: flex;
}

.logoImageAdmin{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}
.orderAdmin{
display: flex;
flex-direction: row;
position: relative;
left: 20cm;
text-decoration: none;
color: black;
}
li{
text-decoration: none;
color: black;
}

.titleAdmin{
display: flex;
position: relative;
}

.buttonAdmin{
display: flex;
}

.tablaAdmin{
display: flex;
justify-content: center;
text-align: center;
position: relative;
margin-top: 10%;
}

th{
    border: 1px solid black;
}
td{
    border: 1px solid black;
}