* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

#containerAdmin {
  height: 100vh;
  display: flex;
  background-image: url('../images/background.jpg');
  flex-direction: column;
  align-items: center;
}

#containerHeader {
  height: 15vh;
  width: 100%;
  display: flex;
  background-color: #feaa46;
  justify-content: space-around;
  align-items: center;
}

.logoImageAdmin {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

#logoutIcon{
    height: 30px;
    width: 30px;
}

.orderAdmin {
  display: flex;
  flex-direction: row;
  list-style: none;
  color: black;
}

li {
  padding-left: 15%;
  padding-right: 12%;
}

a {
  text-decoration: none;
  color: black;
}

.titleAdmin {
  display: flex;
  position: relative;
}

.tableAdmin {
  height: 20vh;
  width: 20%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 10%;
  background-color: #fff;
}

th {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
     body{
        width: 100%;
     } 
  }