* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

#navBarHeader {
  height: 70px;
  width: 100%;
  display: flex !important;
  background-color: #feaa46;
}


.containerAdmin {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
}

#basic-navbar-nav {
  flex-grow: initial;
}

.logoImageAdmin {
  height: 70px;
  width: 70px;
  border-radius: 100%;
}

#logoutIcon {
  height: 30px;
  width: 30px;
}

.orderAdmin {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  align-items:flex-end; 
}

li {
  padding-right: 12%;
  text-decoration: none;
}

a {
  text-decoration: none !important;
  color: black !important
}

.tableAdmin {
  width: 30% !important;
  text-align: center;
  margin-top: 10%;
  background-color: #fff;
  border-radius: 3%;
 
}


.btnCreateUser {
  height: 3rem;
  width: 8rem;
  border-radius: 13%;
  border: none;
  background-color: #ffde49;
  font-size: medium;
}

.titleCreateUser {
  color: #fff;
  justify-content: center;
}

.navAdmin {
  font-weight: bolder;
  color: black;
}

.containerCreateUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerCreateProduct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  /* #containerHeader {
    display: flex;
    width: 100vw;
    height: 25vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }  */
  
  /* .tableAdmin {
    height: 20vh;
    width: 50vw;
  }

  .navAdmin {
    width: 100vw;
    justify-content: center;
    margin-top: 1%;
  }
  #logoutIcon {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }
} */
} 
