* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Poppins", sans-serif;
}

.logoImage {
  height: 100vh;
  width: 50vw;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  background: linear-gradient(
    256deg,
    rgba(255, 222, 89, 1) 20%,
    rgba(254, 170, 70, 1) 53%
  );
}

.TitleForm {
  font-size: 30px;
  margin-bottom: 20%;
}

.containerForm {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15%; 
   
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nextButton {
  font-size: 15px;
  font-weight: bold;
  margin-top: 50px;
  width: 4cm;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: none;
  background-color: #d9d9d9;
}
label {
  font-weight: bold;
}

.emailUser {
  width: 14rem;
  height: 3em;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
}

.forgetPassword {
  margin-top: 2px;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: blue;
  font-size: small;
}

.passwordUser {
  width: 14rem;
  height: 3em;
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #d9d9d9;
  border: none;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logoImage {
    height: 5cm;
    width: 5cm;
    border-radius: 50%;
    margin-bottom: 3em;
    box-shadow: 6px 2px 12px white;
  }
  .containerForm {
    display: flex;
    margin: 0;
  }
}

